.celda {
  height: var(--celda-size);
  width: var(--celda-size);
  border: 1px solid var(--fontColor);
  padding: 0;
  transition: background 0.5s;
  background-color: rgba(106, 243, 255, 0.5);
}

.celda-disabled {
  cursor: default;
}

.celda-enabled {
  cursor: pointer;
  background-color: var(--bgColor);
  background-color: rgba(106, 243, 255, 0.7);
}

.celda-enabled:hover {
  border: 1px solid red;
}
