.celda {
  height: 2.3rem;
  width: 2.3rem;
  cursor: pointer;
  background-color: var(--bgColor);
  border: 1px solid var(--fontColor);
}

.celda-select {
  border: 1px solid var(--red);
  background-color: var(--secondaryLight);
}