.tablero-container {
  display: flex;
}

.tablero-focus {
  border: solid 5px red;
}

.fila {
  display: flex;
  align-items: center;
  justify-content: center;
}

.letra-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--celda-size);
  width: var(--celda-size);
  font-size: 2rem;
}

.letra {
  font-size: calc(var(--celda-size) - 0.7rem);
}