.home-page {
  justify-content: center;
  align-items: center;
}

.game-container {
  margin-top: 3rem;
  gap: 1.3rem;
}

.container-space-around {
  margin: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.tablero-space {
  width: calc(var(--celda-size) * 11);
}

.indicador-barcos {
  display: flex;
  justify-content: space-between;
}