.home-page {
  justify-content: center;
  align-items: center;
}

.game-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.3rem;
}

.container-space-around {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tablero-space {
  width: 23rem;
}
