:root {
  --fontColor: #0e071b;
  --bgColor: #ffffff;
  --primaryMain: #0098dc;
  --primaryDark: #00396d;
  --primaryLight: #00cdf9;
  --secondaryMain: #ffa214;
  --secondaryDark: #e07438;
  --secondaryLight: #ffc825;
  --portaaviones: #ea323c;
  --crucero: #7a09fa;
  --submarino: #5ac54f;
  --lancha: #ffeb57;
}
