:root {
  --fontColor: #0e071b;
  --bgColor: #ffffff;
  --primaryMain: #0098dc;
  --primaryDark: #00396d;
  --primaryLight: #00cdf9;
  --secondaryMain: #ffa214;
  --secondaryDark: #e07438;
  --secondaryLight: #ffc825;
  --red: #ea323c;
}
